<div class="h5">Overview</div>
<p>This software package creates a graph of cities in the Unitied States with links between the cities, then finds the shortest path from one city to another using Dijkstra's Algorithm. Click <a href="https://github.com/jtrinh21/MapTheUSA">here</a> to view code.
</p>
<br>

<div class="h5">Demo</div>

<img src="https://raw.githubusercontent.com/jtrinh21/jtrinh21.github.io/master/images/MapTheUSA.gif?token=AJ4S5WTBJPNZEVSM4MWDSAS65MJD6" width="600px" class="img-fluid" alt="usa image">
