<div class="h5">Overview</div>
<p>This application can skillfully detect and capture human faces, enabling the identification and verification of individuals through facial comparison against a designated training model. Access the code by clicking <a href="https://github.com/jtrinh21/FACEBULOUS">here</a>.
    </p>
<hr>
<div class="h5">Technologies</div>
<p>Java, phpMyAdmin, OpenCV, JFreeChart, FreeTTS.</p> <hr>
<div class="h5">Demo</div>
<img src='../../../../assets/Facebulous.gif' width="600px" class="img-fluid" alt="Facebulous image">