<div class="container-fluid" style="position: absolute;">
    <nav class="navbar">
        <div class="container">
            <a class="nav-link ml-auto" style="color:'#ffffff';font-size: larger;">Home</a>
            <a class="nav-link ml-5" style="color:'#ffffff';font-size: larger;">About</a>
            <a class="nav-link ml-5" style="color:'#ffffff';font-size: larger;">Projects</a>
        </div>
    </nav>
</div>

<div class="container" style="position: absolute; left:50%;
    top:50%; transform: translate(-50%,-50%);">

</div>