<div class="row my-5">
    <div class="col-md-4 col-xs-12 mb-5">
        <div class="h1">About Me</div>
        <img src="../../assets/face.png" style="width: 50%; border: none;" alt="profile" class="rounded mt-3">
        <p class="mt-4">
            Email: thao.da.trinh@drexel.edu
        </p>
        <p>Phone Number: (360) 566-5417</p>
        <a href="https://linkedin.com/in/jtrinh21"><i class="fab fa-linkedin-in awesome"></i></a>
        <a href="https://github.com/jtrinh21"><i class="fab fa-github mx-3 awesome"></i></a>
        <a href="../../assets/ThaoTrinh_Resume.pdf"><i class="far fa-file awesome"></i></a>
    </div>
    <div class="col-md-8 col-xs-12">
        <p>
            <span class="h5">My name is Thao Trinh, pronouces Tow Trin.</span>
            <br>
            <br>
            I am a software developer living in Philadelphia, Pennsylvania, who is currently working on my
            Bachelor's Degree in Computer Science at Drexel University.
            <br>
            <br>
            I thrive on challenges and would love to overcome hardship in software development industry. I love to work
            in
            a company in which helps me expand my knowledge related to Computer Science field as well as build more
            interesting projects. In exchange, I will devote my time and efforts to make the projects stand out.
            <br>
            <br>
            On a more personal note, I enjoy watching videos about new gadgets, mukbang. I also love singing (but
            honestly, my voice is terrible).
            <br>
            <br>
        </p>
        <div class="h5 mb-5">What I Do</div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <i class="devicon-java-plain-wordmark devicon"></i>
                    </div>
                    <div class="col-md-4 mb-5">
                        <i class="devicon-angularjs-plain devicon"></i>
                    </div>
                    <div class="col-md-4 mb-5">
                        <i class="devicon-typescript-plain devicon"></i>
                    </div>
                </div>

            </div>

            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <i class="devicon-html5-plain-wordmark devicon"></i>
                    </div>
                    <div class="col-md-4 mb-5">
                        <i class="devicon-css3-plain-wordmark devicon"></i>
                    </div>
                    <div class="col-md-4 mb-5">
                        <i class="devicon-bootstrap-plain-wordmark devicon"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-md-4  mb-5">
                        <i class="devicon-jquery-plain-wordmark devicon"></i>
                    </div>
                    <div class="col-md-4 mb-5">
                        <i class="devicon-cplusplus-line devicon"></i>
                    </div>
                    <div class="col-md-4 mb-5">
                        <i class="devicon-git-plain-wordmark devicon"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <i class="devicon-javascript-plain devicon"></i>
                    </div>
                    <div class="col-md-4 mb-5">
                        <i class="devicon-mysql-plain-wordmark devicon"></i>
                    </div>
                    <div class="col-md-4 mb-5">
                        <i class="devicon-python-plain-wordmark devicon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
