<div class="h5">Overview</div>
<p>An application is built in desktop environment for supervisor-side to manage the booking system for small-hotel
    businesses. Click <a href="https://github.com/jtrinh21/hotelBookingSystem">here</a> to view code.
</p>
<hr>
<div class="h5">Technologies</div>
<p>Java, JDBC, MySQL, phpMyAdmin, FreeTTS.</p> <hr>
<div class="h5">Demo</div>
<img src="https://raw.githubusercontent.com/jtrinh21/HotelBookingSystem/master/src/Image/hotelBookingSystem.gif" width="600px" class="img-fluid" alt="hotel image">