<div class="h5">Overview</div>
<p>FindMyRoommate is an online platform dedicated to aiding individuals in discovering like-minded roommates for shared living scenarios. The website empowers users to establish profiles, seek out potential roommates using a range of parameters like location, budget, lifestyle preferences, and interests, and facilitates communication with prospective matches. Click <a href="https://github.com/yohighnes/CS151_FindMyRoommate">here</a> to view code.
</p>
<hr>
<div class="h5">Technologies</div>
<p>React, JavaScript, Java, Spring, HTML, CSS, MySQL.</p> <hr>
<div class="h5">Demo</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/N12wHM3leH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>