<div class="h5">Overview</div>
<p>An online E-commerce store for vinyl collectors. Using Angular Framework to delivered a fast user experience with a single-page application that avoids loading between pages. Click <a href="https://github.com/jtrinh21/OverCDs">here</a> to view code and <a href="https://overcds.herokuapp.com">here</a> to experience.
</p>
<hr>
<div class="h5">Technologies</div>
<p>TypeScript, Angular, JavaScript, HTML, CSS, Firebase, Material Angular, Bootstrap.</p> <hr>
<div class="h5">Demo</div>
<img src="https://raw.githubusercontent.com/jtrinh21/jtrinh21.github.io/master/images/MapTheUSA.gif?token=AJ4S5WTBJPNZEVSM4MWDSAS65MJD6" width="600px" class="img-fluid" alt="overcds image">
